@font-face {
    font-family: 'Monaspace Neon';
    src: url('fonts/MonaspaceNeon-Light.otf') format('opentype');
    font-weight: 30;
    font-style: normal;
}

@font-face{
    font-family:'ApricotXenC';
    src: url('fonts/Web437_Tandy2K.woff') format('woff');
}
@font-face{
    font-family:'zpix';
    src: url('fonts/zpix.ttf') format('truetype');
}

*{
    font-family: 'zpix';
    box-sizing: border-box; /* 确保padding和border包含在width和height内 */
    margin: 0;
    padding: 0; 
}

body{
    padding: 0;
}

img{
    align-content: middle; /* 图片垂直居中 */
    width: auto !important;       /* 不强制拉伸到容器宽度 */
    height: auto !important;      /* 保持原始高度 */
    max-width: none !important;   /* 取消“最大宽度 100%”的响应式缩放 */
    max-height: none !important;  /* 取消“最大高度 100%”的限制 */
}

body p{
    font-family:'zpix';
    color: #000000;
    margin: 0;
    padding: 0;
}

main {
    z-index: 1;
    font-family: 'ApricotXenC','zpix';
    margin: 0;
}

a {
    color: #ff0000;
    text-decoration: underline;
    text-underline-offset: 5px;
}


section {
    font-size: 12px;
}

nav {
    background-color: #00ffaa;
    background-image: url('files/20240729-0.png');
    background-size: 200%;
    padding: 45px; /* 减少内边距 */
    position: fixed;
    top: 60%;
    left: 0; 
    transform: translateY(-50%);  /* 自身向上移动自身高度的 50%，实现垂直居中 */
    height: 80%;
    width: 260px; /* 增加宽度给文字更多空间 */
    box-sizing: border-box; /* 确保padding包含在width内 */
    z-index: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-family: 'zpix';
    font-size: 24px;
    margin-bottom: 5px;
    color: black;
}

/* nav中的超链接 */
nav ul li a {
    color:#000000;
    text-decoration: none;
    display: inline-block; /* 使链接可设置宽度 */
    white-space: nowrap; /* 防止文字换行 */
    word-break: keep-all; /* 保持单词完整 */
}

nav ul li a:hover {
    color: #00ffd5;
    background-color: #000000;
}

nav ul footer {
    font-size: 12px;
    text-align: left;
    bottom: 0;
}

.content{
    font-size: 12px;
    margin-top: 200px;
    margin-left: 35%; /* 调整以匹配新的导航栏宽度 */
    padding: 20px;
    position: relative;
    z-index: 2;
    pointer-events: none;  /* 本身对事件（包括文字选取）全透明 */
}

.content * {
  pointer-events: auto;  /* 允许文字选取、点击等 */
  user-select: text;     /* 确保文字可选 */
}

.title {
    font-family: 'zpix';
    font-size: 24px;
    color:#000000;
    font-weight:lighter;
    text-decoration: none;
}

.contact {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    text-align:center;
}

.contact-href {
    color: #000000;
    background-color: #00ffaa;
    text-decoration: none;
}

.contact-href:hover {
    color: #00ffbf;
    background-color: #000000;
}

